* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.header {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 100px;
}

header > h1 {
  font-weight: 700;
  font-size: 48px;
}

.titles {
  padding-left: 8px;
}

.main-menu {
  display: flex;
  background-color: black;
}

.main-menu-list {
  text-decoration: none;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 32px;
}

.main-menu-link > a {
  text-decoration: none;
  color: whitesmoke;
}

#hamburger-menu-icon {
  display: none;
}

section {
  padding: 32px;
}

.about {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.about-title {
  margin: auto;
  width: 66%;
  color: whitesmoke;
  padding-bottom: 16px;
  text-decoration: underline;
}

.about-paragraph {
  font-size: 22px;
  margin: auto;
  color: whitesmoke;
  width: 66%;
}

.profile-photo {
  width: 33%;
  border-radius: 1%;
}

.photo-gallery-title {
  padding: 32px 0 16px 32px;
  text-decoration: underline;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 16px 32px;
}

.gallery-image {
  width: 50%;
  height: 300px;
  object-fit: cover;
  padding: 8px 8px 0 0;
}

/* This is a repeat of main nav -------------------------*/
.menu-section {
  padding: 0px;
  background-color: black;
}

.menu-nav {
  margin-top: 30px;
  width: 100%;
  display: flex;
  background-color: black;
}

.menu-nav-list {
  text-decoration: none;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 32px 32px 0 32px;
}

.menu-nav-link > a {
  text-decoration: none;
  color: whitesmoke;
}

/*-------------------------------------------------------*/

.menu-section {
  width: 100%;
}

.food-menu-image {
  width: 100%;
  padding: 32px;
}

.attributes {
  padding-top: 0px;
}

.attributes-title {
  padding: 32px 0 32px 0;
  text-decoration: underline;
}

.attributes-img-container {
  max-width: 100%;
  display: flex;
  background-color: black;
}

.attribute-photo {
  flex-wrap: wrap;
  max-width: 50%;
  padding: 16px;
}

.contact {
  background-color: black;
}

.contact-title {
  color: whitesmoke;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-color: black;
}

.contact-label {
  color: whitesmoke;
}

.contact-input {
  display: block;
  width: 50vw;
  margin-top: 8px;
  margin-bottom: 8px;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  padding: 32px 0;
  width: 100vw;
  background-color: black;
  color: whitesmoke;
  padding: 32px;
}

.socials > h2 > a {
  color: whitesmoke;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  header > h1 {
    font-size: 32px;
  }
  .main-menu-list {
    display: none;
  }
  .main-menu-list--active {
    display: block;
  }
  #hamburger-menu-icon {
    display: block;
    margin-left: auto;
    width: 32px;
  }
  .main-menu-link {
    width: 100%;
    border-bottom: 1px solid white;
  }

  .main-menu-link > a {
    text-decoration: none;
  }

  .photo-gallery {
    width: 100%;
    display: block;
    padding: 0;
  }
  .gallery-image {
    width: 100%;
    object-fit: cover;
    padding: 0px;
  }
  .photo-gallery-title {
    padding-bottom: 32px;
  }
  .about {
    display: block;
    text-align: justify;
  }

  .about-paragraph {
    font-size: 18px;
    width: 100%;
  }

  .profile-photo {
    width: 100%;
    padding-top: 8px;
  }
  .about-title {
    margin: 0 0 0 0;
  }
  .menu-nav-link > a {
    font-size: 16px;
  }
  .food-menu-image {
    width: 100%;
    padding: 32px 0 32px 0;
  }
}

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
