* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.header {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 100px;
}

.titles {
  padding-left: 8px;
}

.main-menu {
  display: flex;
  background-color: black;
}

.main-menu-list {
  text-decoration: none;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 32px;
}

.main-menu-link > a {
  text-decoration: none;
  color: whitesmoke;
}

section {
  padding: 32px;
}

.about-title {
  text-decoration: underline;
  padding-bottom: 32px;
}

.photo-gallery-title {
  padding-left: 32px;
  text-decoration: underline;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 16px 32px;
}

.gallery-image {
  width: 50%;
  height: 300px;
  object-fit: cover;
  padding: 8px 4px;
}

/* This is a repeat of main nav -------------------------*/

.menu-nav {
  display: flex;
  background-color: black;
}

.menu-nav-list {
  text-decoration: none;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 32px;
}

.menu-nav-link > a {
  text-decoration: none;
  color: whitesmoke;
}

/*-------------------------------------------------------*/

@media screen and (max-width: 480px) {
}
@media screen and (max-width: 800px) {
}
